.project{
  display:flex;
  flex-direction: row;
}
.project img{
  width: 100px;
  height: 100px;
  margin: 10px;
}
.hover{
  transition: transform .2s;
}

.hover:hover{
  transform: translateY(-2px);
  cursor: pointer;
}