.PostIndex{
  color: RGB(var(--black));
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  max-width: 580px;
  border-radius: 8px;
    box-sizing: border-box;
    height: 100%;
    position: relative;
    /* width: 6400px; */

  text-align: center;


  /* background-color: whitesmoke; */
  display: block; /* makes inside vertical */
  align-items: center;

  margin: 20px;
  padding: 0;
  border: 0;
  position: relative;
}
.PostIndexItem {
  display: flex;
  position: relative;
  flex-direction: row;
  /* align-items: center; */
  margin: 15px;
  /* padding: 10px; */
 
  
}
.postindex-left{
  margin-top: 0px;

}
.postindex-right{
  background-color: whitesmoke;
  border-radius: 4px;
  border-radius: 3px;
  display: flex;
  flex-direction: column;
  align-items: left;
  text-align: left;
  justify-content: space-between;
  height: 100%;
  width: 100%;
  padding: 10px;
}
.postindex-right > *{
  /* margin-left: 10px;  */
  /* margin-right: -10px; */

}
.postindex-right-header{
  border-bottom: 1px solid grey;
  height:40px;
  width:100%;
  display: flex;
  /* flex-direction: row; */
  justify-content: space-between;
}
.postindex-right-header > *{
  margin: 5px;
}
.post-text > *{
  margin: 4px;
}
.post-photo{
  width: 500px;
  height: auto; 
  margin-top: none;
  margin-bottom: 10px;
  /* margin-left: none !important; */

  /* auto ensures our dimensions are proportional */
}
.post-profile-pic{
  width: 50px;
  height: 50px;
  border-radius: 10%;
  margin-right: 10px;
  object-fit: cover;
  position: sticky; /* not working :( */
}

.post-dropdown{
  position: absolute;
  /* height:170px; */
  width: 130px;
  border:1px solid rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  z-index: 101;
  background: white;
  border-radius: 3px;
  box-shadow: 0ch;
  align-items: center; /*puts children to center of div vertically */
  justify-content: space-around;
  box-shadow: 0px 0px 6px 0px black;
  transform: translate(320%, 15%);
  flex-wrap: wrap;
  align-content: stretch;
}
.post-dropdown > *:hover{
  background: #efefef;
  /* cursor: pointer; */
}
.post-dropdown > *{
  border: .5px solid grey;
  padding: 10px;
  cursor: pointer;
  width: 100%;
}

#username{
  /* how to add hover mouse */
  cursor: pointer
}
.post-profile-pic{
  cursor: pointer;
}

#post-modal-background{
  height: 100vh; /* view height, gets percent of the screen size */
  width: 100vw;
  z-index: 101;
  position: fixed;
  top: 0;
  left: 0;
}
#three-dots{
  border: none;
  background: none;
}
#new-post{
  border:none;
  /* background: rgb(0, 184, 225); */
  background: rgb(var(--accent));
  padding:none;
  margin: none;
}
input{
  border: 1px solid #efefef;
  border-radius: 3px;
  padding: 5px;
  margin: 5px;
  width: 100%;
  box-sizing: border-box;
  color: black;

}

.edit-post-form{

  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
}

.postmodal-header{
  text-align: left;

}
.postmodal-content{
  text-align: left;
  
}
.postmodal-pic{
}
.postmodal-footer{

}

.fa-heart{
  font-size: 30px;
  animation-duration: 1s;
}