
.notes-dropdown{
  display:flex;
  flex-direction: column;
}
.notes-dropdown-header{
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top:10px;
  padding:10px;
  padding-left:20px;
  border-top: 1px solid grey;
  border-bottom: 1px solid grey;
}
.notes-icon{
  margin-right: 15px;
  display: flex;
  flex-direction: row;
}
.notes-dropdown-header button{
  border:none;
  font-size: 20px !important;
  color: inherit;
}
.notes-icon-count{
  margin-left: 5px;
}
.notes-dropdown-content{
  height:200px;
  overflow-y: auto;
  overflow-x: hidden;
  padding-top:10px;
  padding-left:10px;
}

.like-item{
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top:10px;
  padding:10px;
}
.notes-profile-pic{
  height: 30px;
  width:auto;
  border-radius: 50%;
}

.comment-input-form{
  display:flex;
  flex-direction: row;
  align-items: center;
  border: 1px solid rgb(159, 159, 159);
  border-radius: 10px;
  margin-bottom: 10px;
  margin-right:10px;
}
.comment-input-form input{
  border: none;
  background-color: inherit;
}
.comment-input-form input:focus{
  outline: none;
}
.comment-input-form button{
  border: none;
  background-color: inherit;
  cursor: pointer;
  color: grey;
  transition: color 0.3s ease-in-out;
  margin-right:5px;
}
.blue{
  color: rgb(var(--accent)) !important;
}
.comment-item-left{
  display:flex;
  flex-direction: row;
}

.comment-item{
  display:flex;
  flex-direction: row;
  justify-content: space-between;
}
.comment-text-container{
  border: 1px solid rgb(159, 159, 159);
  border-radius: 10px;
  margin-left: 10px;
  margin-bottom:5px;
  padding:5px;
  padding-right:10px;
  padding-bottom: 5px;
  max-width: 250px;
}
.comment-body{
  margin-top:5px;
  margin-left: 5px;
  margin-right: 5px;
  /* margin-top: 5px; */
}
.notes_highlighted{
  color: rgb(var(--accent)) ;
}
.fa-comment{
  transition: color 0.3s ease-in-out;
}
.notes-username{
  font-weight: bold;
  margin-left:5px;
}