:root { 
  --navy: 0, 25, 53;
} 

* {
  margin: 0;
  padding: 0;
}

@font-face {
  /* font-family: 'roboto';
  src: url('./assets/Roboto.ttf') format('truetype'); */
  font-family:'Favorit';
  src: url('./assets/FavoritC.ttf') format('truetype');
}
@font-face {
  font-family: 'Poppins';
  font-style: 'regular';
  font-weight: 300;
  src: url('./assets/Poppins-Regular.ttf');
}
.root {
  padding: 20px;
  font-size: 16px;
  /* font-family: 'roboto'; */
  font-family: 'Poppins';
  font-size: 14px;
  font-weight: 100;
  display: flex;
  justify-content: center;
  background-color: RGB(var(--navy));
  font-family: 'Poppins';
}

button{
  cursor: pointer;
}

a{
  color: black;
  text-decoration: none; 
}
.red{
  color: red;
}
.grey{
  color: rgb(184, 184, 184);
}
.pointer{
  cursor: pointer;
}