.navbar{
    /* background-color: lightblue; */
    background-color: RGB(var(--navy));
    opacity: 1;
    border-bottom: .6px solid rgb(133, 133, 133);
    font-size: 1.5rem;
    font-weight: 600;
    padding: 0.5rem 0;
    display: flex;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;

    box-sizing: border-box;
    height: 54px;
    /* justify-content: space-between; */
    /* margin: auto; */
    max-width: 1716px;
    padding-right: 10px;
    padding-left: 10px;
    width: 100%;
    vertical-align: baseline;
    align-items: center;
    display: flex;
    justify-content: space-between;


}

.navbar * a {
  color: white;
}

/* for all buttons in navbar */
.navbar button{
  color: black;
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.5;
  padding: 6px 15px;
  border-radius: 3px;
  margin-right: 10px;
  
  align-items: center;
  box-sizing: border-box;
  color: var(--button-text);
  justify-content: center;
  text-decoration: none;

}
#login-button{
  background:  #00cf35;
}

#signup-button{
  background: #00b8ff;
}

#navbar-left{
  height: 100%;
}
#logo{
  /* how to make height fill out to parent div's height: */
  height: 100%;
  transform: translateY(3%);
  cursor: pointer;
}
#navbar-post-create{
}
.navbar-signup{

}